<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Adjust</key>
	<dict>
		<key>token</key>
		<string>a2b2plvnvy80</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Info</key>
	<dict>
		<key>Webview</key>
		<dict>
			<key>back_btn_nor</key>
			<string>webview_back_nor.png</string>
			<key>back_btn_pre</key>
			<string>webview_back_pre.png</string>
		</dict>
		<key>Loading</key>
		<dict>
			<key>fullbg</key>
			<string>loading_bg_domino.jpg</string>
			<key>chip_srctbl</key>
			<array>
				<string>texas_loading_chips.png</string>
				<string>texas_loading_chips1.png</string>
				<string>texas_loading_chips2.png</string>
				<string>texas_loading_chips3.png</string>
			</array>
			<key>bg</key>
			<string>texas_loading_bg.png</string>
			<key>light</key>
			<string>texas_loading_light.png</string>
		</dict>
	</dict>
	<key>UMeng</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>AppID</key>
		<string>5a588f8ba40fa36506000015</string>
		<key>AppChanel</key>
		<string>AppStore</string>
	</dict>
	<key>AppsFlyer</key>
	<dict>
		<key>AppID</key>
		<string>1174266604</string>
		<key>AppKey</key>
		<string>PeQQENGhdszwD59r999Px7</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UDID</key>
	<dict>
		<key>Key</key>
		<string>54W6QHGZ84.com.zhijian.texas</string>
	</dict>
    <key>Tradplus</key>
    <dict>
        <key>Enabled</key>
        <true/>
        <key>AppID</key>
        <string>24E1AF4741039FA0E24A3258ABEE12DF</string>
        <key>UnitID</key>
        <string>0B430E8A485E58D73BFAEA85AAB024D3</string>
    </dict>
</dict>
</plist>
