<?xml version="1.0" encoding="utf-8"?><manifest android:installLocation="auto" android:versionCode="22110" android:versionName="2.21.1.0" package="com.cynking.tongits" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="28"/>
    <uses-feature android:glEsVersion="0x00020000"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.zhijian.common.MyApplication" android:usesCleartextTraffic="true">
        <!-- Tell Cocos2dxActivity the name of our .so -->
        <meta-data android:name="android.app.lib_name" android:value="cocos2dlua"/>
        <activity android:configChanges="orientation" android:label="@string/app_name" android:name="com.zhijian.common.LoginAcitivity" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" android:launchMode="singleTask" android:name="org.cocos2dx.lua.AppActivity" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" android:name="com.facebook.FacebookActivity"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider2626397450739389" android:exported="true" android:name="com.facebook.FacebookContentProvider"/>

        <provider android:name="androidx.core.content.FileProvider" android:authorities="com.cynking.tongits.myprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>

        <service android:name="com.cynking.tongits.MyFirebaseMessagingService">
          <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT"/>
          </intent-filter>
        </service>

        <service android:name="com.cynking.tongits.AppFireBaseInstanceIDService">
          <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
          </intent-filter>
        </service>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <!-- cynking 56494e1167e58e21350019cf clickwala 575f854f67e58e6e8900098d youmi 5770a905e0f55ab70a001a8f-->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="@string/admob_id"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <receiver android:exported="true" android:name="com.adjust.sdk.AdjustReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

    </application>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!--Gcm start,需要改成相应包名 -->
    <permission android:name="com.cynking.tongits.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!--Gcm end-->
    <!-- google checkout -->
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <!-- google checkout -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
</manifest>