<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Adjust</key>
	<dict>
		<key>token</key>
		<string>eqkjdyhrgirk</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>FBAd</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>RewardVideoPlacementId</key>
		<string>547556695910562_547556942577204</string>
		<key>InterstitialAdPlacementId</key>
		<string>547556695910562_547556942577204</string>
	</dict>
	<key>Admob</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>AppID</key>
		<string>ca-app-pub-7908513253977535~1423986484</string>
		<key>UnityID</key>
		<string>ca-app-pub-7908513253977535/3012400323</string>
	</dict>
	<key>Info</key>
	<dict>
		<key>Webview</key>
		<dict>
			<key>back_btn_nor</key>
			<string>webview_back_nor.png</string>
			<key>back_btn_pre</key>
			<string>webview_back_pre.png</string>
		</dict>
		<key>Loading</key>
		<dict>
			<key>fullbg</key>
			<string>loading_bg_domino.jpg</string>
			<key>chip_srctbl</key>
			<array>
				<string>gaple_loading_chips.png</string>
				<string>gaple_loading_chips1.png</string>
				<string>gaple_loading_chips2.png</string>
				<string>gaple_loading_chips3.png</string>
			</array>
			<key>bg</key>
			<string>gaple_loading_bg.png</string>
			<key>light</key>
			<string>gaple_loading_light.png</string>
		</dict>
	</dict>
	<key>UMeng</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>AppID</key>
		<string>58f878af45297d0943000aaf</string>
		<key>AppChanel</key>
		<string>AppStore</string>
	</dict>
	<key>AppsFlyer</key>
	<dict>
		<key>AppID</key>
		<string>1516438634</string>
		<key>AppKey</key>
		<string>PeQQENGhdszwD59r999Px7</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Tradplus</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>AppID</key>
		<string>3771C94FD981FF5C621B8B304991A223</string>
		<key>UnitID</key>
		<string>C39084BDBCA023A537A3E737DEE1275F</string>
	</dict>
	<key>UDID</key>
	<dict>
		<key>Key</key>
		<string>YX32V6N628.com.cynking.gaplenew</string>
	</dict>
</dict>
</plist>
